a:hover{
    text-decoration: none;
}
img{
    max-width: 100%;
}


body{
    //background: url('../../images/bg-site.jpg') no-repeat center center;
    font-size: 16px;
}

body p{
    font-family: 'Roboto-Light';
    font-size: 20px;
}

header, footer{
    text-align: center;
}
